#ignore the files/directory below
.DS_Store
.idea/
metastore_db/
derby.log
*.swp
stream_twt.json
.ipynb_checkpoints
JsonToCSV2.py
ea-TwitterStream.py
datasetTwitter/trumpTwitter/Data/*.jsonl
zeppelin-0.7.1-bin-netinst/

#Don't ignore the files below
!.gitignore
!samplestream_twt.jsonl
